h1{
    color: red;
    font-size: 50px;
    font-family: Arial;
}

img{
    height: 300px;
    border: 10px dashed blue;
    border-radius: 20px;
    
}

img:hover{
    border: 10px dashed darkred;
}