h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

div > nav{
    display: flex;
    width: 170px;
    height: 40px;
}

.banner{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    gap: 5px;
}

.banner > img{
    width: 210px;
    height: 210px;
    border: solid;
    border-radius: 10px;
    border-color: gray;
    
}

div > a{
    background-color: red;
}