body{
    margin: 0;
}

nav > img{
    display: flex;
    width: 170px;
    height: 110px;
    
}

nav{
    padding: 20px;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

nav > div > a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    height: 120px;
    width: 400px;
}

a:hover{
    background-color: red;
}

a{
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    border: 50px;
    border-radius: 5px;
}