.transition{
    color: black;
}

.tudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(129, 28, 28, 0.795);
}

.text1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    background-color: rgba(129, 28, 28, 0.562);
}

.text1 :hover{
    transition: 1s ;
    color: rgba(88, 13, 13, 0.541);
}

.text2{
    background-color: rgba(88, 13, 13, 0.541);
    padding: 10px;
    display: flex;
    gap: 50px;
    height: 350px;
    border: solid black 4px;
    border-radius: 10px;
    align-items: center;
    width: 1400px;
    justify-content: center;
}

label{
    display: flex;
    font-size: 30px;
    color: white;
}

.decoration1{
    text-decoration: none;
}

.img1{
    width: 200px;
}

.img2{
    width: 200px;
    height: 230px;
}

.img3{
    width: 200px;
    height: 230px;
}

.img5{
    width: 200px;
    height: 200px;
}

.img6{
    width: 200px;
    height: 200px;
}

.img7{
    width: 200px;
    height: 200px;
}

